* {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

header, nav, article, footer {
    border:4px solid rgb(0, 0, 0);
    text-align:center;
    background:rgb(253, 161, 74);
    margin:3px;
    border-radius: 10px;
}
section{
    display:flex; 
    margin:1;
}
nav{
    flex:1;
}
#bild1{
    background-image: url("alig.jpg");
    height:500px;
}
#westside{
    margin-top: 100;
}

.forgrund{
border:2px solid rgb(0,0,0);
}

#text1{
    visibility: hidden;
    font-size: 30px;
    color: rgb(63, 54, 185);
}

#bild1:hover #text1{
    visibility: visible;
}

#bild1:hover #westside{
    visibility: hidden;
}


@media only screen and (max-width: 660px) {
    section {
      flex-direction:column;
    }
  }